.card_wrapper {
  padding: 5rem 1rem;
  background-color: var(--dark-indigo);
}

.infoCard {
  padding: 1rem;
}

.textTitle {
  font-weight: 700;
  color: var(--dark-indigo);
  font-size: 1.1rem;
}

.timeToRight {
  float: right;
}
